<div class="container">
  <table>
    <tr>
      <th>Show</th>
      <th>Start time</th>
      <th>Empty Seats</th>
      <th>Availability level</th>
    </tr>
    <tr>

      <td><h4> <%= @performance.show.name %></h4></td>
      <td><%= @performance.start_time %></td>
      <td><%= @performance.empty_seats %></td>
      <td class= "<%= @performance.check_availability %>"><%= @performance.check_availability %></td>
    </tr>
    <tr>
      <td><a href="/performances/<%= @performance.id %>/edit">Edit performance</a></td>
      <td>
        <form  method="post" action="/performances/<%= @performance.id %>/delete">
          <input class="button" type="submit" value="Cancel Performance"/>
        </form>
      </td>
    </tr>
  </table>


</div>
