<h4> <%= @show.name %></h4>
<p><%= @show.type %></p>

<p><a href="/shows/<%= @show.id %>/edit">Edit show</a></p>
<p><a href="/shows/<%= @show.id %>/performances"> Display all performances</a></p>
<form method="post" action="/shows/<%= @show.id %>/delete">
  <input type="submit" value="Delete Show"/>
</form>
