<div class="container">
  <table>
  <tr>
    <td><b><%= @show.name %></td>
    <td><%= @show.type %></td>
    <td><a href="/shows/<%= @show.id %>/edit">Edit show</a></td>
    <td><form method="post" action="/shows/<%= @show.id %>/delete">
      <input type="submit" value="Cancel Show"/>
    </form></td>
  </tr>

  <br>
  </table>

  <table>
  <th>Time and date</th>
  <th>Number of seats left</th>
  <th> Availability level</th>
  <tr><% for performance in @performances %></tr>
  <tr>
  <td><%= performance.get_formatted_start_time %></td>
  <td><%= performance.empty_seats %></td>
  <td><%= performance.check_availability() %></td>
  <% end  %>
  <tr>
    <td> <b>Total takings: </b></td>
    <td><%= @show.total_show_takings %></td>
  </tr>

  </tr>

  </table>

</div>
